<!-- Main Feed -->
<div class="main-feed">
    {{#each posts}}
    <!-- Post Card -->
    <div class="post-card">
        <div class="post-header">
            <h3 class="username">{{author}}</h3>
            <p class="date">{{date_created}}</p>
            <form action="/recipe" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{author}}> 
                    <button class="recipe-button">View Recipe</button>
            </form>  
        </div>
        
        <div class="post-content">
            <img src="{{image_url}}" alt="Posted Photo" class="post-photo">
            <p class="caption">{{caption}}</p>
            <!-- Like, Comment, Repost Buttons -->
            <div class="post-actions">
                <form action="/like-post" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{author}}> 
                    <button class="action-button">Like</button>
                </form>  
                <form action="/comment-post" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{author}}> 
                    <button class="action-button">Comment</button>
                    <input type="text" id="comment" name="comment" required>                  
                </form>      
            </div>
        </div>

       <!-- Comments -->
        <div class="comments">
            {{#each comments}}
            <div class="comment-content">
                <h4 class="username">{{this.username}}</h4>
                <p class="date">{{this.date_created}}</p>
                <p class="comment">{{this.body}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>


