<style>
    .main-feed {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .post-card {
        width: 60%; /* Adjust as needed */
        margin-bottom: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .post-content {
        padding: 10px;
    }

    .image-container {
        {{!-- width: 900px; 
        height: 200px;  --}}
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        position: relative;
    }

    #post-photo {
        {{!-- max-width: 100%;
        max-height: 100%; --}}
        width: 800px;
        height: 500px;
        padding-left: 30px;
        padding-right: 30px;
    }

    .caption {

    }

    .post-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 8px;
    }

    .like-button,
    .action-button {
        padding: 4px 8px;
        cursor: pointer;
        font-size: 0.8em;
    }

    .comments {
        margin-top: 8px;
    }

    .comment-content {
        border-top: 1px solid #ccc;
        padding: 8px;
    }

    .username {
        font-weight: bold;
        margin-bottom: 4px;
        font-size: 0.9em;
    }

    .date {
        color: #777;
        font-size: 0.8em;
        margin-top: 15px;
    }

    #author-link:hover {
        color: blue;
        text-decoration: underline;
    }
</style>


<!-- Main Feed -->
<div class="main-feed">
    <h3>{{> message}}</h3>
    {{#each posts}}
    <!-- Post Card -->
    <div class="post-card">
        <div class="post-header">
            <div class="row" style="padding-left: 20px;">
                <form action="/user" method="GET">
                        <input type="hidden" name="username" value={{author}}>
                        <button class="btn" id="author-link">{{author}}</button>
                </form> 
                <form action="/follow-user" method="POST">
                        <input type="hidden" name="username" value={{../username}}> 
                        <input type="hidden" name="followee" value={{author}}> 
                        {{#if followed}}
                            <button class="follow-button followed btn btn-secondary">Following</button>
                        {{else}}
                            <button class="follow-button">Follow</button>
                        {{/if}}               
                </form> 
            </div>   

            <p class="date">{{fixDate date_created}}</p>

            <form action="/recipe" method="GET">
                    <input type="hidden" name="recipe_id" value={{recipe_id}}>
                    <button class="action-button btn btn-link">View Recipe</button>
                </form> 

        </div>
        
        <div class="card-body" id="post-content">
            {{!-- <img src="{{image_url}}" alt="Posted Photo" class="post-photo"> --}}
            <div class="image-container">
                <img src="{{image_url}}" alt="Posted Photo" id="post-photo" class="card-image-top">
            </div>
            <form action="/user" method="GET" clas="row">
                    <input type="hidden" name="username" value={{author}}>
                    <p style="margin-top: 10px;">
                        <button class="btn" id="author-link" style="margin: -4px 0px 0px 0px; padding: 0px 0px 0px 0px;"><strong>{{author}}:</strong></button>
                        
                        {{caption}}
                    </p>
            </form> 
            <!-- Like, Comment, Repost Buttons -->
            <div class="post-actions">
                <form action="/like-post" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{../username}}> 
                    {{#if liked}}
                        <button class="like-button liked">Liked</button>
                    {{else}}
                         <button class="like-button">❤️ Like</button>
                    {{/if}}
                    <span style="margin-left: 1rem;">
                        <strong>__</strong> likes
                    </span>
                </form>  
                <form action="/comment-post" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{author}}> 
                    <input type="text" id="comment" name="comment" required >                  
                    <button class="btn btn-primary btn-sm" style="margin-top: -3px;"><strong>Add Comment</strong></button>
                </form>      
            </div>
        </div>

       <!-- Comments -->
        <div class="comments">
            {{#each comments}}
            <div class="comment-content">
                <h4 class="username">{{this.username}}</h4>
                <p class="date">{{fixDate this.date_created}}</p>
                <p class="comment">{{this.body}}</p>
            </div>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>


