<style>
    .post-card {
        width: 100%; /* Adjust as needed */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .post-content {
        padding: 0px;
    }
</style>
<!-- TODO: create a HTML form that takes two input fields: username and password -->
<div class="container">
  <div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-10">
       <div class="post-card">
        <div class="row">
        <div class="col text-left">
            <h1>{{title}}</h1>
        </div>

        <div class="col text-right">
            <form action="/repost" method="GET">
                    <input type="hidden" name="recipe_id" value={{recipe_id}}>
                    <button class="btn btn-info">Post Your Version!</button>
            </form> 
        </div>
    </div>

    <div >
        <div class="row">
            <div class="col text-left">
                <p>Created by: <a href="./user?username={{author}}">{{author}}</a></p>
                <p>{{likes}} likes • {{reposts}} reposts</p>
            </div>
            <div class="col text-right">
                    <p>{{date_created}}</p>
            </div>
        </div>
    </div>
</div>

<div class="post-card">
    <h3>Recipe:</h3>
    <p>{{body}}</p>
</div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>

{{!-- pull all recipe information from db, format in an organized way --}}
