<div class="card">
    <div class="row">
        <div class="col text-left">
            <h1>{{title}}</h1>
        </div>

        <div class="col text-right">
            <form action="/repost" method="GET">
                    <input type="hidden" name="recipe_id" value={{recipe_id}}>
                    <button class="action-button">Post Your Version!</button>
            </form> 
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col text-left">
                <p>{{likes}} likes • {{reposts}} reposts</p>
            </div>
            <div class="col text-right">
                    <p>Created by: {{author}}</p>
                    <p>{{date_created}}</p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <h3>Description:</h3>
    <p>{{body}}</p>
</div>
{{!-- pull all recipe information from db, format in an organized way --}}
