<div class="card">
    <div class="row">
        <div class="col text-left">
            <h1>{{title}}</h1>
        </div>

        <div class="col text-right">
            <button class="btn btn-primary">Post your own version!</button>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col text-left">
                <p>_ likes • _ comments • _ reposts</p>
                 <p>Serves: _</p>
                <p>Prep Time: _</p>
                <p>Cook Time: _</p>
            </div>
            <div class="col text-right">
                    <p>Created by: {{author}}</p>
                    <img src={{profile_picture}} class="img-thumbnail" height="75px" width="75px" style="border-radius: 50%;">
                    <p>{{date_created}}</p>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <h3>Description:</h3>
    <p>{{body}}</p>
</div>
{{!-- pull all recipe information from db, format in an organized way --}}
