{{!-- pfp --}}
<div class="card">
    <div class="card-body">
    <div class="row">
  
      <div class="col text-left">
        <h1>{{user}}</h1>
        <p>_ followers • _ following</p>
      </div>
      <div class="col text-left"></div>
      <div class="col text-left"></div>
      <div class="col text-right">
        {{#if self}}
        
        {{else}}
        <button id="follow-button" class="btn btn-lg btn-primary">Follow</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{!-- loop to display each post from a user --}}

<h2>Posts:</h2>
{{#each posts}}
  <div class="post-card">
        <div class="post-header">
            <p class="date">{{date_created}}</p>

            <form action="/recipe" method="GET">
                    <input type="hidden" name="recipe_id" value={{recipe_id}}>
                    <button class="action-button">View Recipe</button>
            </form> 

        </div>
        
        <div class="post-content">
            <img src="{{image_url}}" alt="Posted Photo" class="post-photo">
            <p class="caption">{{caption}}</p>
            <!-- Like, Comment, Repost Buttons -->
            <div class="post-actions">
                <form action="/like-post" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{author}}> 
                    {{#if liked}}
                        <button class="like-button liked">Liked</button>
                    {{else}}
                         <button class="like-button">❤️ Like</button>
                    {{/if}}
                </form>  
                <form action="/comment-post" method="POST">
                    <input type="hidden" name="post_id" value={{post_id}}> 
                    <input type="hidden" name="username" value={{author}}> 
                    <button class="action-button">Comment</button>
                    <input type="text" id="comment" name="comment" required>                  
                </form>      
            </div>
        </div>

       <!-- Comments -->
        <div class="comments">
            {{#each comments}}
            <div class="comment-content">
                <h4 class="username">{{this.username}}</h4>
                <p class="date">{{this.date_created}}</p>
                <p class="comment">{{this.body}}</p>
            </div>
            {{/each}}
        </div>
    </div>
{{/each}}
