{{!-- pfp --}}
<style>
    .post-card {
        width: 100%; /* Adjust as needed */
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
        border: 1px solid #ccc;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .post-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px;
        border-bottom: 1px solid #ccc;
    }

    .post-content {
        padding: 0px;
    }
</style>
<!-- TODO: create a HTML form that takes two input fields: username and password -->
 <p>{{> message}}</p>
<div class="container">
  <div class="row">

    <div class="col-sm-1">
    </div>

    <div class="col-sm-10">
       
{{!-- pull all recipe information from db, format in an organized way --}}

<div class="card">
 
    <div class="card-body">
    <div class="row">
    {{!-- <div class="col text-left" id="profile-picture">
        <img src={{profile_picture}} class="img-thumbnail" height="100px" width="100px"
        style="border-radius: 50%;">
    </div> --}}
      <div class="col text-left">
        <h1>{{user}}</h1>
        <p>{{followers}} followers • {{following}} following</p>
      </div>
      <div class="col text-left"></div>
      <div class="col text-left"></div>
      <div class="col text-right">
        {{#if self}}
        {{else if is_Followed.exists}}
            <form action="/follow-user-u" method="POST">
                    <input type="hidden" name="username" value={{username}}> 
                    <input type="hidden" name="followee" value={{user}}> 
                    <button class="follow-button followed btn btn-outline-info">Following</button>           
            </form>
        {{else}}
            <form action="/follow-user-u" method="POST">
                    <input type="hidden" name="username" value={{username}}> 
                    <input type="hidden" name="followee" value={{user}}> 
                    <button class="follow-button followed btn btn-info">Follow</button>         
            </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{!-- loop to display each post from a user --}}
<br>
<div class="card">
<div style="margin: 2rem;">
  <h2>Posts:</h2>
  <div class="row" style="margin: 0px;">
    {{#each posts}}
      <div class="col" style="padding-right: 0px; padding-left:0px; margin:0px">
        <div class="card" style="width: 375px; padding:0px; margin:10px;">
          <div class="container" style="margin: 0px;">
            <div class="row justify-content-center">
                  <img src={{this.image_url}} class="card-img-top" width="300px" height="280px" style="padding:10px;">
            </div>
          </div>
          <div class="card-body">
            <h3><a href="./recipe?recipe_id={{this.recipe_id}}" style="color: black">{{this.title}}</a></h3>
            <p>{{this.caption}}</p>
            <!-- Add other recipe details as needed -->
          </div>
        </div>
      </div>
    {{/each}}
  </div>
  </div>
</div>

    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
